<div class="regionsBorder">
  <div *ngIf="regions.length > 0">
    <p>Currently regions are:</p>
    <ul class="regs">
      <li *ngFor="let reg of regions">
        <div>
          <label>id: {{reg.id}} region: {{reg.region}} </label><input id="modifyReg" type="text" name="regionNew" #regionMod ngModel/>
          <button (click)="modifyRegion(reg, regionMod.value)">Modify</button>
        </div>
      </li>
    </ul>
  </div>
  <div class="NoRegions" *ngIf="regions.length === 0">
    <p>No regions exist! Add some.</p>
  </div>
  <div id="addingRegion">
    <label> region: </label><input id="newReg" type="text" name="regionNew" #regionNew ngModel/>
    <button (click)="modifyRegion(this.regionAux, regionNew.value)">Add region</button>
  </div>
</div>
