<div class="loginBorder">
  <div *ngIf="isLoggedIn; else loggedOut">
    Logged in as {{role}}.
  </div>

  <ng-template #loggedOut>
    <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
      <div class="form-group">
        <label for="login">Login </label>
        <input type="text" class="form-control" name="login" [(ngModel)]="form.login" #login="ngModel" required />
      </div>
      <div class="form-group">
        <label for="password">Password </label>
        <input type="password" class="form-control" name="password" [(ngModel)]="form.password" #password="ngModel"
          required minlength="6" />
      </div>
      <div class="form-group">
        <button id="loginBtn">Login</button>
      </div>
    </form>
    <div *ngIf="f.invalid" class="errorWarning">
        Incorrect data! Fill in all fields!<br />
      </div>
      <div *ngIf="f.submitted && isLoginFailed" class="alertWarning">
        SignIn failed! {{errorMessage}}<br />
      </div>
    <hr>
    <div id="register">Don't have an account?
      <a routerLink='/register'> Sign Up! </a>
    </div>
  </ng-template>
</div>
