div {
  word-wrap: break-word;
  font-style: bold;
}
.topicBorder {
  margin: 3px;
  text-align: center;
}
.topicBody {
  border:  1px black solid;
  background-color: rgb(0, 160, 200);
}
#head {
  font-size: 18pt;
  font-weight: bold;
}
#deltop{
  background-color: lightcoral;
  float: right;
}
#editSwitch, #saveEdit {
  background-color: lightyellow;
  display: block;
  margin-left: 90%;
  width: 10%;
}
#addReply {
  background-color: lightgreen;
}
.column {
  float: left;
  text-align: left;
  width: 32%;
  padding: 2px;
}
#regColumn {
  text-align: center;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.buttonBot {
  width: 50%;
  height: 28px;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: left;
  font-size: 14pt;
}
textarea {
  font-size: 14pt;
  overflow-y: scroll;
  height: 300px;
  resize: none;
  width: 75%;
}
