<a routerLink="">
  <h1 id="title">{{title | uppercase}}</h1>
</a>
<div class="navPanel">
  <nav>
    <ul>
      <a routerLink='' (click)="logOut()">
        <li *ngIf="authority !== 'lurker'">
          Logout
        </li>
      </a><a routerLink='/login'>
        <li *ngIf="authority === 'lurker'">Login
        </li>
      </a><a routerLink='/user'>
        <li *ngIf="authority !== 'lurker'">
          User Profile
        </li>
      </a><a routerLink="/topics">
        <li>Topics
        </li>
      </a>
    </ul>
  </nav>
</div>
<div class="contentPanel">
  <router-outlet></router-outlet>
</div>
<div class="scrollPanel">
</div>
