<a routerLink=""><h1 id="title">{{title | uppercase}}</h1></a>
<div class="navPanel">
  <nav>
    <ul>
      <li *ngIf="authority !== 'lurker'">
          <div >
            <a routerLink='' (click)="logOut()">Logout</a>
          </div>
      </li><li>
        <div *ngIf="authority === 'lurker'">
          <a routerLink='/login'>Login</a>
        </div>
        <div *ngIf="authority !== 'lurker'">
          <a routerLink='/user'>User Profile</a>
        </div>
      </li><li>
        <a routerLink="/topics">Topics</a>
      </li>
    </ul>
  </nav>
</div>
<div class="contentPanel">
  <router-outlet></router-outlet>
</div>
<div class="scrollPanel">
  Nothing interesting here
</div>
