.replyBorder {
  margin: -2px;
  border: 1px solid grey;
  width: 90%;
  background-color: lightblue;
}
.column {
  float: left;
  width: 32%;
  padding: 1px;
}
.row{
  height: 80%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}
.button {
  float: right;
}
.content {
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-top: 5px;
  text-align: left;
}
