<div class="replyBorder">
  <div class="row">
    <div class="column" *ngIf="this.authority === 'admin'"><span>id: </span>{{reply.id}}</div>
    <button id="delReply" *ngIf="this.authority === 'admin' || currentUserID === reply.authorID"
      (click)="deleteReply()">Delete reply</button>
  </div>
  <div class="row">
    <div class="column">{{author[0]}} ({{author[1]}}) {{reply.replyDate | date:"dd.MM.yy, HH:mm"}}</div>
  </div>
  <hr>
  <div class="content">{{reply.replyText}}</div>
  <hr>
</div>
