.userBorder {
  border: 1px black solid;
  margin: 3px;
  background-color: rgb(0, 160, 200);
}
#findUser {
  margin: 4px;
  margin-left: 72%;
  padding: 4px;
}
#applyChanges {
  margin: 4px;
  margin-left: 72%;
  padding: 4px;
}
.info {
  margin: 5px;
}
.field {
  text-align: right;
  margin: 5px;
}
.chngLabel {
  float: left;
}
input {
  width: 30%;
}
.ckeckbox {
  display: inline-block;
}
select {
  width: 30%;
}
