<div class="menu">
  <button (click)="getAllTopics()">Get all topics</button>
  <div class="selectRegion">
    <select [(ngModel)]="regionID" (change)="showRegion(this.regionID)">
      <option [ngValue]="-1">- Select region -</option>
      <option *ngFor="let reg of regions" [ngValue]="reg.id">{{reg.region}}</option>
    </select>
  </div>
  <button id="createTop" *ngIf="authority !== 'lurker'" routerLink="/topics/create">Create topic</button>
  <div class="adminOpt" *ngIf="authority === 'admin'">
    <input id="delInput" type="number" [(ngModel)]="id">
    <button id="delBtn" (click)="deleteTopic(this.id)">Delete topic</button>
  </div>
</div>
<ul class="tops">
  <li *ngFor="let topic of topics">
    <app-topic [topic]="topic"></app-topic>
  </li>
</ul>
