<button class="button" (click)="getAllTopics()">Get all topics</button>
<button *ngIf="authority !== 'lurker'" class="button" routerLink="/topics/create">Create topic</button>
<div *ngIf="authority === 'admin'">
  <input type="number" [(ngModel)]="id">
  <button class="button" (click)="deleteTopic(this.id)">Delete topic</button>
</div>
<!-- <select ngModel name="regionID" (change)="showRegion(regionID)">
  <option value="x">-- Region --</option>
  <option *ngFor="let x of regions" value="x.id">{{x.region}}</option>
</select> -->
<ul class="tops">
  <li *ngFor="let topic of topics">
    <app-topic [topic]="topic"></app-topic>
  </li>
</ul>
