img {
  display: inline-block;
  max-width: 100%;
}
img.thumbnail {
  width: 100px;
  height: 70px;
}
p {
  font-size: 18pt;
}
.homeBorder {
  margin: 3px;
  text-align: center;
  border:  1px black solid;
  background-color: rgb(0, 160, 200);
}
