.form-group {
  margin: 5px;
}
.registerBorder {
  border: 1px black solid;
  margin: 3px;
  background-color: rgb(0, 160, 200);
}
.alertWarning, .errorWarning {
  margin: 2px;
}
.alertWarning {
  background-color: yellow;
}
.errorWarning {
  background-color: orangered;
}
